body {
	background-color: #6da4bf;
}

header {
	background-color: pink;
	padding: 3px;
	margin: 5px;
	
}

.classDataDiv {
	background-color: #cef4cc;
	/*display: inline-block;*/
	padding: 3px;
	margin: 5px;
}

#aboutContainer {
	background-color:  #cef4fc;
	padding: 3px;
	margin: 5px;
}

#signUpContainer {
	background-color:  #bde2fc;
	padding: 3px;
	margin: 5px;
}