body {
	background-color: #6da4bf;
}

header {
	background-color: purple;
	
}

#classDataDiv, #signUpForm {
	background-color: #cef4cc;
	/*display: inline-block;*/
	padding: 3px;
}

textarea {
    
    height: 100%;
}